/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
   font-family: 'Serif', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  text-decoration: none;
  
  color: #222;
  
  background-color: #FAF9F6;

}

.container {
  
  20px 10px 10px 10px rgba(1, 1, 1, 0.3)
  z-index:12;
  max-width: 1200px;
  margin: 0 auto;
  height: 120px;
}

.nav {
   font-family: 'Serif', sans-serif;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  opacity:100%;
  z-index:61;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  transition: all .3s ease-in-out;
}

.nav .container { 
  
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  transition: all .3s ease-in-out;
  z-index:10;
}

.nav ul {
  
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {20px 10px 10px 10px rgba(1, 1, 1, 0.3)
  text-decoration: none;
  color: black;
  text-decoration: none;
  padding: 12px 15px;
  transition: all .3s ease-in-out;
}
.dropbtn {
  background-color: white;
  color: black;
  padding: 0px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 15px 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #DCDCDC;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: blue;}
.nav.active {
  opacity:95%;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {text-decoration: none;
  color: #000;
  

}
.nav.active .container {
  padding: 0px 0;
  20px 10px 10px 10px rgba(1, 1, 1, 0.3)
  
}
.nav a {
  font-family: sans-serif;
}

.nav a:hover {
  
color: blue;
     
  
}
.container1 {
 
 width: 100%;
 background-color: #222;
 height: 100vh;
align-items: center;
justify-content: center;}

 .swiper{
 
  width: 20%
  height: fit-content}
  
  .swiper-slide img{
    width: 100%;

  }